@import 'src/styles/utils';

.preview-block {
  margin-top: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.img-wrapper {
  height: 80px;
  width: 80px;
  margin-right: 20px;
}

.img {
  width: 100%;
  height: 100%;
}
