@import './font';
@import './color';
@import './typography';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  background-color: $c-white;
  font-family: $font-family-primary, 'Arial', sans-serif;
}

html,
body,
#__next {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

html {
  margin-right: calc(-1 * (100vw - 100%));
}

button {
  padding: 0;
  margin: 0;
}
